.chips {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	gap: var(--spacing-4);
	overflow-x: auto;
	overflow-y: hidden;
	padding-block: var(--spacing-12);
	padding-inline: var(--semantic-spacing-inset-md) 0;
	scrollbar-width: none;
	width: 100%;
}

.chips::-webkit-scrollbar {
	display: none;
}

.chips > .chip-item {
	flex: 0 0 auto;
}
