.cx-divider {
	--cx-divider-color: var(--component-light-list-cell-divider);
	--cx-divider-contents-thickness: 1px;
	--cx-divider-section-thickness: 4px;
	--cx-divider-thickness: var(--cx-divider-contents-thickness);

	align-self: stretch;
	background: var(--cx-divider-color);
	border: 0;
	box-sizing: border-box;
	display: block;
	flex: none;
	margin: 0;
	padding: 0;
}

[data-theme="dark"] .cx-divider,
.cx-divider[data-theme="dark"] {
	--cx-divider-color: var(--component-dark-list-cell-divider);
}

.cx-divider--contents {
	--cx-divider-thickness: var(--cx-divider-contents-thickness);
}

.cx-divider--section {
	--cx-divider-thickness: var(--cx-divider-section-thickness);
}

.cx-divider--horizontal {
	height: var(--cx-divider-thickness);
	min-height: var(--cx-divider-thickness);
	width: 100%;
}

.cx-divider--vertical {
	height: 100%;
	min-width: var(--cx-divider-thickness);
	width: var(--cx-divider-thickness);
}
