.cx-divider {
	align-self: stretch;
	background: var(--component-list-cell-divider);
	border: 0;
	box-sizing: border-box;
	display: block;
	flex: none;
	margin: 0;
	padding: 0;
}

.cx-divider--horizontal {
	height: 1px;
	min-height: 1px;
	width: 100%;
}

.cx-divider--vertical {
	height: 100%;
	min-width: 1px;
	width: 1px;
}

.cx-divider--section.cx-divider--horizontal {
	height: 4px;
	min-height: 4px;
}

.cx-divider--section.cx-divider--vertical {
	min-width: 4px;
	width: 4px;
}
